<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Template</title>
    <link rel="stylesheet" href="css/foundation.css" />
		<link rel="stylesheet" href="css/normalize.css" />
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/offcanvas.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>

    <div id="LAYER_ALL">
      <div id="LAYER_MID">
        <div id="header">
          <div class="header-text">NOT HELLO!</div>
        </div>
        <div id="projects-wrapper">
          <figure class="project small-6 medium-4 columns" id="p1">
            <img src="http://placekitten.com/640/400" alt="img01"/>
						<figcaption>
								<h2>Project <span>One</span></h2>
								<p>Horrorsphere reveals Samuel Jackson's left skull</p>
								<a href="#">View more</a>
						</figcaption>   
          </figure>
					<figure class="project small-6 medium-4 columns" id="p2">
            <img src="http://placekitten.com/640/400" alt="img01"/>
						<figcaption>
								<h2>Project <span>Two</span></h2>
								<p>Horrorsphere reveals Samuel Jackson's left skull</p>
								<a href="#">View more</a>
						</figcaption>   
          </figure>
					<figure class="project small-6 medium-4 columns" id="p3">
            <img src="http://placekitten.com/640/400" alt="img01"/>
						<figcaption>
								<h2>Project <span>Three</span></h2>
								<p>Horrorsphere reveals Samuel Jackson's left skull</p>
								<a href="#">View more</a>
						</figcaption>   
          </figure>
					<figure class="project small-6 medium-4 columns" id="p4">
            <img src="http://placekitten.com/640/400" alt="img01"/>
						<figcaption>
								<h2>Project <span>Four</span></h2>
								<p>Horrorsphere reveals Samuel Jackson's left skull</p>
								<a href="#">View more</a>
						</figcaption>   
          </figure>
					<figure class="project small-6 medium-4 columns" id="p5">
            <img src="http://placekitten.com/640/400" alt="img01"/>
						<figcaption>
								<h2>Project <span>Five</span></h2>
								<p>Horrorsphere reveals Samuel Jackson's left skull</p>
								<a href="#">View more</a>
						</figcaption>   
          </figure>
					<figure class="project small-6 medium-4 columns" id="p6">
            <img src="http://placekitten.com/640/400" alt="img01"/>
						<figcaption>
								<h2>Project <span>Six</span></h2>
								<p>Horrorsphere reveals Samuel Jackson's left skull</p>
								<a href="#">View more</a>
						</figcaption>   
          </figure>
					<figure class="project small-6 medium-4 columns" id="p7">
            <img src="http://placekitten.com/640/400" alt="img01"/>
						<figcaption>
								<h2>Project <span>Seven</span></h2>
								<p>Horrorsphere reveals Samuel Jackson's left skull</p>
								<a href="#">View more</a>
						</figcaption>   
          </figure>
					<figure class="project small-6 medium-4 columns" id="p8">
            <img src="http://placekitten.com/640/400" alt="img01"/>
						<figcaption>
								<h2>Project <span>Eight</span></h2>
								<p>Horrorsphere reveals Samuel Jackson's left skull</p>
								<a href="#">View more</a>
						</figcaption>   
          </figure>
					<figure class="project small-6 medium-4 columns" id="p9">
            <img src="http://placekitten.com/640/400" alt="img01"/>
						<figcaption>
								<h2>Project <span>Nigh</span></h2>
								<p>Horrorsphere reveals Samuel Jackson's left skull</p>
								<a href="#">View more</a>
						</figcaption>   
          </figure>
        </div>
      </div>
      <div id="LAYER_TOP">
         
          <button type="button" id="menuBTN"></button>


          <div class="overlayMenu"  id="overlayBase">
            <div id="prBox">
                <button type="button" class="overlay-close" id="closeBTN"></button>
                <nav id="overlay nav">
                    <a href="#" class="navA">Home</a>
                    <a href="#" class="navA">Projects</a>
                    <a href="#" class="navA">Contact</a>
                    <a href="#" class="navA">Resume</a>
                    <a href="#" class="navA">Work</a>
                </nav>
            </div> <!-- End ProperBox Div -->
          </div> <!-- End Overlay Menu -->
      </div>  <!-- Layer Top End -->
    </div> <!-- Layer All End -->

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/foundation/foundation.js"></script>
    <script src="js/foundation/foundation.offcanvas.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="js/main.js"></script>
  </body>
</html>
