#aboutme
    background-image: url(../img/profile.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    color: #ffffff
    display: block

    .aboutMeWrapper
        background: $bg-color-rgba
        padding-top: 3em
        padding-left: 3em
        padding-right: 3em
        padding-bottom: 3em

    .aboutMe-textControl
        text-align: center
        margin: auto
        display: block

    .aboutMe-title
        font-size: 2.5em
        font-weight: $bold
        text-transform: uppercase
        letter-spacing: 5px

    .aboutMe-details
        font-size: 1.2em
        height : 50vh
