/*** Foundation base tweak ***/
.columns {
	padding: 0px !important;
}
/*** Setup ***/
* {
	font-family: 'Lato', sans-serif;
}
#LAYER_ALL {
  position: absolute;
  width: 100%;
  height: 100%;
}
#LAYER_MID {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#LAYER_TOP {
  position: absolute;
  width: 100%;
  z-index: 3;
}






/*** Projects ***/
#header {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #604c71;
}
.header-text {
  position: absolute;
/*  width: 100%; Cause Overflow bug at lower resolutions*/
  top: 50%;
	left: 72px;
	color: white;
	font-weight: 700;
  font-size: 90px;
	line-height: 90px;
}
#projects-wrapper {
  position: relative;
  top: 100%;
	overflow: hidden;
	margin: 0 0 0 0 !important;
}
.project {
	background: #604c71;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	height: 400px;
}
.project > img{
	position: relative;
	display: block;
	opacity: 1;
	max-width: none; /*Clear out Foundation style*/
	
 	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.project:hover > img{
	opacity: 0.2;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.project figcaption {
	position: absolute;
	padding: 2em;
	font-weight: 400;
	color: white;
	font-size: 1.25em;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: left;
}
.project figcaption h2, .project figcaption span {
	color: white;
	font-weight: 700;
}
.project figcaption::before,
.project figcaption::after {
	pointer-events: none;
}
.project a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.project h2 {
	position: relative;
	overflow: hidden;
}
/* Reveal the bar under title */
.project h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: ''; /* hack */
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
.project:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/* Transit in the paragraph */
.project p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
.project:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}






/*** Menu ***/
#Menu{
    width: 100%;
    margin-bottom: 1.5em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: fixed;
    
    text-align: center;
    background-color: #888888;
    display: block;
    font-size: 20px;
}

nav a{
    padding: 2.5em;
    color: #eeeeee;
}

#icon{
    padding-top: 1.5em;
    background-image: url(../img/sprinklesCW.png);
    background-repeat: no-repeat;
}

/* Button Style */
#menuBTN{

}

.closeBTN{
    float: left;

    background: none;
    background-image: url(../img/xbtn.svg);
        background-repeat: no-repeat;
    display: block;
    height: 60px;
    width: 60px;
    left: 80%;
    z-index: 9999;
    transition: all 1s ease-in-out;
}

.openBTN{
    background:none;
    background-image: url(../img/menuS.png);
    background-repeat: no-repeat;
    position: fixed;
    top:2em;
    padding-bottom: 2.5em;
    padding-top: 2em;
    margin-left: 1.5em;
    cursor: pointer;
    visibility: visible;
}

#BTNControl{
	position: fixed;
    right: 2em;
	padding-top: 2em;
	text-align:right;
	overflow:hidden;
}

.gotoBTN{
    float: left;
    margin-top: 38em;
    margin-left: 5em;
}

#leftArrow{
	background:#666;
    background-repeat: no-repeat;
}
#rightArrow{
	background:#666;
    background-repeat: no-repeat;
}

/*End BTN */

#menuNav{
    margin-top: 3em;
    visibility: hidden;
    
}

.overlayMenu{
    opacity: 0;
	left: -80%;
	position: fixed;
	width: 80%;
	height: 100%;
	display: block;
	background: #333;
	transition: all 0.3s ease-in-out;
}

#overlayBase .open{
    opacity: 1;
	left: 0%;
}
.overlayMenu nav{
	display: block;
	width: 80%;
	height: 100%;
	background: #333333;
	text-align: center;
	font-size: 35px;
    z-index: 9003;
}

.navA{
	text-align: center;
	font-size: 32px;
	display: block;
}

body{
/*    overflow: hidden;*/
}