/* off-canvas customization */
/* Expands the off-canvas height to fill the whole page, as well as make it stick on the page */
/* Only tested for left-off-canvas-menu*/

.off-canvas-wrap {
	height: 100%;
}

.off-canvas-wrap {
	height: 100%;
	position: fixed;
}

.inner-wrap {
	height: 100%;
}

.left-off-canvas-menu {
	height: 100%;
}