$menu-bg-color: #1A1A1A

#Menu
  width: 100%
  margin-bottom: 1.5em
  padding-top: 2em
  padding-bottom: 2em
  position: fixed
  text-align: center
  background-color: #888888
  display: block
  font-size: 20px
  letter-spacing: 5px

#icon
  padding-top: 1.5em
  background-image: url(../img/sprinklesCW.png)
  background-repeat: no-repeat

/* Button Style. Hiding the nav buttons for later implementation */

#BTNControl
  position: fixed
  right: 2em
  padding-top: 2em
  text-align: right
  overflow: hidden
  //display: none

#leftArrow
  background: #666
  background-repeat: no-repeat

#rightArrow
  background: #666
  background-repeat: no-repeat

#menuBTN
  position: absolute
  top: 46px
  left: calc(100% + 60px)
  pointer-events: all
  cursor: pointer
  transition: all 0.3s ease
  .backdrop
    opacity: 1
    transition: all 0.3s ease
  &:hover
    .backdrop
      opacity: 0
  .svg-menu-toggle
    fill: #fff
    .bar
      transform: rotate(0) translateY(0) translateX(0)
      opacity: 1
      transform-origin: 20px 10px
      transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out, fill .4s ease-in-out

    .bar:nth-of-type(1)
      transform-origin: 20px 10px
    .bar:nth-of-type(3)
      transform-origin: 20px 20px

  &.active
    left: 110%
    .svg-menu-toggle
      .bar:nth-of-type(1)
        transform: rotate(-45deg) translateY(-10px) translateX(-8px)

      .bar:nth-of-type(2)
        opacity: 0

      .bar:nth-of-type(3)
        transform: rotate(45deg) translateY(6px) translateX(0px)


/*End BTN */

#menuNav
  margin-top: 3em
  visibility: hidden

.overlayMenu
  left: -80%
  position: fixed
  width: 80%
  height: 100%
  display: block
  background: $menu-bg-color
  transition: all 0.3s ease-in-out

.overlayMenu.open
  left: 0%

nav
  font-size: 1.3em
  margin-top: 10%
  a
    text-align: center
    display: block
    padding: 1.3em
    color: #fff
    .underline
      position: relative
      display: block
      overflow: hidden
      left: 46%
      top: 1.1em
      width: 8%
      height: 4px
      background-color: #a8a8a8
  a.category
    color: #A8A8A8
    font-weight: 700
